.wrapper {
    display: flex;
    justify-content: space-between;
}

.autorAvatar {
    width: 80px;
    border-radius: 50%;
}

.nameAndDate {
    margin-left: 30px;
}

.postInfo {
    margin-left: 30px;
    display: flex;
}

.authorName a {
    font-weight: 600;
    text-decoration: none;
    color: black    ;
}

.postDate {
    margin-top: 5px;
    font-size: 23px;
    color: rgb(63, 63, 67);
}

.removePost {
    font-size: 12px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(97, 97, 104);
}