.userInfoWrapper {
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 15px;
}

.userAvatarWrapper {
    width: 250px;

}

.imgUserAvatar {
    width: 100%;
}

.userAbout {
    padding: 20px;
}

.userAbout div {
    margin: 10px;
}
